:root {
    --primary-color: #505033;
    --secondary-color: #264969;
    --background-color: #F8F9FA; 
    --text-color: #333; 
    --heading-color: #343A40;
    --link-color: #007BFF;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--background-color);
    padding: 20px;
}

.header-container {
    display: grid;
    grid-template-columns: auto 1fr auto; /* Layout: logo, title, navigation */
    align-items: center;
}

.logo {
    max-width: 100px; /* Adjust the logo size */
}

h1 {
    color: var(--heading-color);
    font-weight: 700;
    margin: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px; /* Space between links */
}

nav ul li a {
    color: var(--link-color);
    font-weight: 400;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline; /* Underline on hover */
}

.history {
    padding: 20px;
    background-color: #eaeaea; /* Background color for the history section */
}

.history h2 {
    font-size: 2em;
    color: var(--heading-color);
}

.adventures {
    padding: 20px;
}

.adventure-images {
    display: flex;
    justify-content: space-around; /* Space images evenly */
    flex-wrap: wrap; /* Allow images to wrap to the next line */
}

figure {
    margin: 10px;
    text-align: center; /* Center captions under images */
}

figure img {
    max-width: 100%; /* Responsive images */
    height: auto;
    border-radius: 8px; /* Add rounded corners to images */
}

figcaption {
    font-weight: 400; /* Normal weight for captions */
    color: var(--text-color);
}

footer {
    background-color: var(--primary-color); /* Dark background for footer */
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
}

.social-icons img {
    margin-left: 10px; /* Space between social icons */
    max-width: 30px; /* Adjust icon size */
}

strong {
    font-weight: 700;
}

/* Additional global styles */
h1, h2, h3, h4 {
    color: var(--heading-color);
    font-family: 'Georgia', serif;
    margin: 1em 0;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 900;
}

p {
    color: var(--text-color);
    line-height: 1.6;
    margin: 0.5em 0;
    font-weight: 400;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a img {
    text-decoration: none;
}

.social-media a {
    text-decoration: none;
}
