:root {
    --primary-color: #0D1B2A;
    --secondary-color: #415A77;
    --accent-1-color: #778DA9;
    --accent-2-color: #E0E1DD;
} 

body {
    font-family: "Roboto", sans-serif;
    max-width: 960;
    margin: 0 auto;
    padding: 20px;
}


header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    color: var(--accent-2-color);
}

header img {
    grid-column: 2/3;
}

nav {
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: var(--accent-1-color);
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: var(--secondary-color);
    font-weight: 700;
    text-decoration: underline;
}

.hero {
    position: relative;
    color: white;
}


.hero img {
    height: 350px;
    width: 960px;
}

.hero h1 {
    position: absolute;
    top: 5%;
    left: 20%;
    font-size: 3em;
    margin: 0 auto;
    color: var(--accent-1-color);
}

.hero article {
    position: absolute;
    top: 30%;
    left: 8%;
    background-color: rgba(0, 51, 17, 0.8);
    border-radius: 10px;
    padding: 12px;
    color: white;
    max-width: 800px;
}

.hero article img {
    float: right;
    width: 220px;
    height: 190px;
    padding-left: 2px;
}

.float-right {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: auto;
}

.about-hero {
    position: relative;
    color: white;
}


.about-hero img {
    height: 350px;
    width: 960px;
}

.about-hero h1 {
    position: absolute;
    top: 5%;
    left: 20%;
    font-size: 3em;
    margin: 0 auto;
    color: var(--primary-color);
}

.about-hero article {
    position: absolute;
    top: 30%;
    left: 8%;
    background-color: rgba(0, 51, 17, 0.8);
    border-radius: 10px;
    padding: 12px;
    color: white;
    max-width: 800px;
}

.about-hero article img {
    float: right;
    width: 220px;
    height: 190px;
    padding-left: 2px;
}

.float-right {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: auto;
}


section {
    padding: 20px 0;
    margin-top: 0px;
}

section h2 {
    font-family: "Roboto", sans-serif;
    color: var(--accent-1-color);
    text-align: center;
    margin: 0 auto;
}

footer {
    background-color: white;
    border-top: 1px solid;
    display: flex;
    align-content: center;
    text-align: center;
    margin: 5px;
}

footer p {
    margin: 60px 0;
    margin-left: 50px;
}

footer a {
    text-decoration: none;
    margin: 5px;
}

footer a img {
    width: 24px;
    height: 24px;
}

.sociallinks {
    display: flex;
    margin-top: 53px;
    margin-left: 50px;
    gap: 10px;
}

.img {
    float: right;
    width: 300px;
    height: auto;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.h2one {
    text-align: center;
}

.history {
    display: flex;
    justify-content: space-around;
}

.figures {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}



.figure1, .figure2, .figure3, .figure4, .figure5 {
    border: thin #c0c0c0 solid;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    max-width: 214px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    text-align: center;
    
}


figcaption {
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #222;
    color: #fff;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

figcaption a{
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-top: 20px;
    color: var(--secondary-color);
    font-size: larger;
    text-align: center;
    
}

figure img {
    max-width: 100%;
    max-height: 200px;
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}


.figures {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}



.aboutfigure1, .aboutfigure2, .aboutfigure3, .aboutfigure4, .aboutfigure5 {
    border: thin #c0c0c0 solid;
    margin-right: 10px;
    display: inline-flex;
    flex-flow: column;
    padding: 10px;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 214px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;
    
}


.aboutfigure figcaption {
    display: flex;
    background-color: #222;
    color: #fff;
    padding: 3px;
    text-align: center;
    width: 160px;
}

.aboutfigure figcaption a{
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-top: 20px;
    color: var(--accent-1-color);
    font-size: larger;
    
}

.aboutfigure img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 166px;
    max-height: 107px;
    
}

